*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}
.section{
    min-height: 100vh;
}

.section h1{
    text-align: center;
    line-height: 100vh;
    font-size: 5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section2 .images{
    display: flex;
}


.section2 .images img {
    width: 50%;
}

.section2 h1{
    line-height: 1.3;
    padding-top: 50px;
    padding-bottom: 50px;
}